.jumbotron {
    position: relative;
    background: #000 url("/public/img/15943526011_acbba23cb2_o.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}


.searchBox {
    color:white;
}

.search-cols{
    padding: 0px;
}
.business-name{
    color:#cb202d;
    font-weight:700;
}

.business-body{
    padding-top:0px;
}


.appWrapper {
	font-family: 'Roboto', sans-serif;

}
